@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover:hover{
  transform: scale(1.1);
}

.hover:active{
  transform: scale(0.9);
}